._pictureContainer_zhbfo_1{flex:1 1 100%;position:relative;display:grid;}._videoContainer_bqrlm_1{position:relative}._videoContainer_bqrlm_1>video{position:absolute;inset:0;width:100%;height:100%}._videoContainer_bqrlm_1>video{animation:fade both 3s ease}._videoContainer_bqrlm_1>video:not([hidden]){opacity:1}


header {display: none !important}
footer {display: none !important}
._header_lu6a5_1 {display: none !important}
